.orderList{
    flex: 4;
}

.orderListItem{
    display: flex;
    align-items: center;
}

.orderListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.orderListEdit{
    color: #3bb077;
    cursor: pointer;
    
    margin-right: 15px;
}
.nameTitle{
    padding-bottom: 10px;

  }
.orderListDelete{
    color: red;
    cursor: pointer;
}