.category {
  flex: 4;
  padding: 20px;
}

.categoryTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newcategoryForm {
  display: flex;
  flex-wrap: wrap;
}
.categoryAddButton {
  width: 150px;
  border: none;
  padding: 5px;
  background-color: rgb(184, 29, 114);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.categoryTop {
  display: flex;
}

.categoryTopLeft,
.categoryTopRight {
  flex: 1;
}

.categoryTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.categoryInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.categoryInfoTop {
  display: flex;
  align-items: center;
}

.categoryName {
  font-weight: 600;
}

.categoryInfoBottom {
  margin-top: 10px;
}



.categoryInfoValue {
  font-weight: 300;
}

.categoryBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.categoryForm {
  display: flex;
  justify-content: space-between;
}

.categoryFormLeft {
  display: flex;
  flex-wrap: wrap;
}

.categoryFormLeft > label {
  margin-bottom: 5px;
  color: gray;
}

.categoryFormLeft > input {
  margin-bottom: 5px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.categoryFormLeft >select{
  margin-bottom: 10px;
}

.categoryUploadImg{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.categoryFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.categoryUpload{
  display: flex;
  align-items: center;
}

.categoryButton{
  width: 100px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(199, 29, 114);
  color:white;
  font-weight: 600;
  cursor: pointer;
}
.categoryUpdate{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}